<!-- <p>candidate-home works!</p> -->
<app-navbar></app-navbar>

<div class="layout">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>


    <!-- Content -->
    <div class="content">
        <div class="search-container">

            <div class="search-box">
                <input type="text" placeholder="Job title, skills..." [(ngModel)]="searchText">
                <input type="text" placeholder="Location..." [(ngModel)]="location">
                <button (click)="searchJobs()">Search</button>
            </div>
            <div class="job-list">
                <!-- <app-job-card></app-job-card> -->
                <app-job-card *ngFor="let job of jobs" [job]="job"></app-job-card>
            </div>
        </div>
    </div>

</div>