<div class="jobs-container">

    <div class="page-header">
        <h2>My Posted Jobs</h2>
    </div>

    <table>

        <thead>

            <tr>
                <th>Job Title</th>
                <th>Location</th>
                <th>Work Mode</th>
                <th>Experience</th>
                <th>Applicants</th>
                <th>Action</th>
            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let job of PostedJob; trackBy: trackByJob  ">

                <td>{{ job.jobTitle }}</td>

                <td>{{ job.jobLocation }}</td>

                <td>{{ job.workMode|enumFormat }}</td>

                <td>{{ job.minExperience }} - {{ job.maxExperience }}</td>

                <td>{{ job.noOfApplicants }}</td>

                <td>

                    <button
                        class="view-btn"
                        (click)="viewApplicants(job.jobId)">

                        View Applicants

                    </button>

                </td>

            </tr>

        </tbody>

    </table>

</div>