<!-- <app-home></app-home> -->

<!-- <app-not-found></app-not-found> -->

<!-- <app-sidebar></app-sidebar> -->

<!-- <app-candidate-home></app-candidate-home> -->

<!-- <app-login></app-login> -->


<!-- <app-register></app-register> -->

<!-- <app-header></app-header> -->


<!-- <app-candidate-chagepass></app-candidate-chagepass> -->


<!-- <app-candidate-profile></app-candidate-profile> -->

<!-- <app-applied-jobs></app-applied-jobs> -->

<!-- <app-job-board></app-job-board> -->

<!-- <app-hire-flow-homepage></app-hire-flow-homepage> -->

<!-- <app-employer-login></app-employer-login> -->
<!-- <app-employer-registration></app-employer-registration> -->
<!-- <app-applicant-list></app-applicant-list> -->


<!-- <app-posted-jobs></app-posted-jobs> -->


<!-- <app-post-job></app-post-job> -->

<!-- <app-employer-candidate-view></app-employer-candidate-view> -->


<app-loader></app-loader>
<!-- this is the main page of the application. It is the entry point for the application and it contains the main layout of the application. The main layout consists of a header, a sidebar, and a main content area. The header contains the logo, navigation links, and a button to post a job. The sidebar contains links to different pages of the application. The main content area contains the content of the current page. -->
<router-outlet></router-outlet>