<div class="container">
  <h2>Register Company</h2>

  <form (ngSubmit)="register()" #form="ngForm">

    <div class="form-group">
      <label>Employer Name</label>
      <input 
        type="text" 
        name="name" 
        [(ngModel)]="employer.name" 
        required>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input 
        type="email" 
        name="email" 
        [(ngModel)]="employer.email" 
        required>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input 
        type="password" 
        name="password" 
        [(ngModel)]="employer.password" 
        required minlength="6">
    </div>

    <button type="submit" [disabled]="form.invalid">
      Register
    </button>

  </form>
</div>