<div class="sidebar">

  <!-- Profile Section -->
  <div class="profile">
    <div class="avatar">
      {{ user.name.charAt(0) }}
    </div>
    <h3>{{ user.name }}</h3>
    <p>{{ user.role }}</p>
  </div>


  
  <!-- Menu -->
  <ul class="menu">
    <li routerLink="/userProfile" routerLinkActive="active">My Profile</li>
    <li routerLink="/jobs" routerLinkActive="active">Browse Jobs</li>
    <li routerLink="/applied-jobs" routerLinkActive="active">Applied Jobs</li>
    <li routerLink="/changePass" routerLinkActive="active">Change Password</li>
    <li routerLink="/settings" routerLinkActive="active">Settings</li>
  </ul>

</div>