<div class="sidebar">

  <!-- Profile Section -->
  <div class="profile">
    <div class="avatar">
      {{ this.name.charAt(0) }}
    </div>
    <h3>{{ this.name }}</h3>
    <p>{{ this.role }}</p>
  </div>


  
  <!-- Menu -->
  <ul class="menu">
    <li routerLink="/postJob" routerLinkActive="active">Post job</li>
    <li routerLink="/postedJobs" routerLinkActive="active">All posted Jobs</li>
    <li routerLink="/allJob" routerLinkActive="active">All Applications</li>
    <li routerLink="/changePass" routerLinkActive="active">Company Profile</li>
    <li routerLink="/changePass" routerLinkActive="active">Change Password</li>
    <li routerLink="/settings" routerLinkActive="active">Settings</li>
    <li routerLink="/settings" routerLinkActive="active">logout</li>

  </ul>

</div>