<!-- <header class="site">
  <div class="brand"><span class="hire">Hire</span><span class="flow">Flow</span></div>
  <nav class="site-nav">
    <a href="#">Find Jobs</a>
    <a href="#">Companies</a>
    <a href="#">Career Advice</a>
  </nav>
  <button class="btn-primary">Post a Job</button>
</header> -->

<app-header></app-header>

<div class="app-body">

  <!-- PROFILE SUMMARY BAR -->
  <div class="profile-bar">
    <div class="avatar-wrap">
      <!-- <div class="avatar">{{ avatarInitials }}</div> -->
      <div class="avatar">{{candidate?.firstName?.charAt(0)||''}}{{candidate?.lastName?.charAt(0)||''}}</div>
      <div class="avatar-edit" (click)="uploadPhoto()">📷</div>
    </div>

    <div class="profile-info">
      <h1 [attr.contenteditable]="isEditingProfile" (input)="onNameInput($event)" [class.editing]="isEditingProfile">{{
        candidate?.firstName }} {{candidate?.lastName}}</h1>
      <!-- [class.editing]="isEditingProfile">{{ candidate.first_name }} {{ candidate.last_name }}</h1> -->

      <div class="role" [attr.contenteditable]="isEditingProfile" (input)="onRoleInput($event)"
        [class.editing]="isEditingProfile">{{ role }}</div>

      <div class="meta">
        <span class="dot-live" *ngIf="openToWork"></span>
        <span *ngIf="openToWork">Open to work ·</span>
        {{ location }} · {{ experienceYears }} yrs experience
      </div>

      <div class="strength-wrap">
        <div class="strength-top"><span>Profile strength</span><span>{{ profileStrength }}%</span></div>
        <div class="strength-bar">
          <div class="strength-fill" [style.width.%]="profileStrength"></div>
        </div>
      </div>
    </div>

    <div class="profile-actions">
      <button class="btn-outline" (click)="viewResume()">View Resume</button>
      <button class="btn-primary" (click)="toggleEditProfile()">
        {{ isEditingProfile ? 'Save Changes' : 'Edit Profile' }}
      </button>
    </div>
  </div>

  <!-- TWO COLUMN APP LAYOUT -->
  <div class="grid">

    <!-- MAIN COLUMN -->
    <div>

      <!-- About -->
      <div class="card">
        <div class="card-head">
          <h2><span class="ico">📝</span> About</h2>
          <button class="icon-btn" (click)="toggleEditAbout()">
            {{ isEditingAbout ? '💾 Save' : '✏️ Edit' }}
          </button>
        </div>
        <p class="about-text" [attr.contenteditable]="isEditingAbout" (input)="onAboutInput($event)"
          [class.editing]="isEditingAbout">{{ aboutText }}</p>
      </div>

      <!-- Experience
      <div class="card">
        <div class="card-head">
          <h2><span class="ico">💼</span> Experience</h2>
          <button class="icon-btn" (click)="addItem('experience')">+ Add</button>
        </div>
        <div class="item" *ngFor="let exp of experience">
          <div class="item-icon">{{ exp.icon }}</div>
          <div class="item-body">
            <div class="item-title">{{ exp.title }}</div>
            <div class="item-sub">{{ exp.subtitle }}</div>
          </div>
          <div class="item-controls">
            <button class="ctrl-btn" (click)="editItem('experience')">✏️</button>
            <button class="ctrl-btn danger" (click)="removeItem(experience, exp, 'Experience')">🗑️</button>
          </div>
        </div>
      </div> -->

      <div class="card">
        <div class="card-head">
          <h2><span class="ico">💼</span> Experience</h2>
          <button class="icon-btn" (click)="openAddExperience()">+ Add</button>
        </div>
        <!-- <div class="item" *ngFor="let exp of candidate?.experiences"> -->
          <div class="item" *ngFor="let exp of (candidate?.experiences ?? []).slice().reverse()">
          <!-- <div class="item-icon">{{ exp.icon }}</div> -->
           
          <div class="item-icon">{{ exp.companyName.charAt(0) }}</div>
          <div class="item-body">
            <div class="item-title">{{ exp.jobTitle }}</div>
            <!-- <div class="item-sub">{{ exp.subtitle }}</div> -->
            <div class="item-sub">{{ exp.companyName }}, {{exp.location}}, {{exp.smonth |  enumFormat }} {{exp.syear}} - {{ exp.isCurrentCompanny ? 'Present' : (exp.emonth | enumFormat) + ' ' + exp.eyear }}</div>
            
          </div>
          <div class="item-controls">
            <button class="ctrl-btn" (click)="openEditExperience(exp)">✏️</button>
            <!-- <button class="ctrl-btn danger" (click)="removeItem(experience, exp, 'Experience')">🗑️</button> -->
            <button class="ctrl-btn danger" (click)="removeExperience(exp.candExpId||0)">🗑️</button>
          </div>
        </div>
      </div>

      <!-- Experience Add/Edit modal -->
      <app-experience-form [visible]="showExpForm" [editData]="selectedExperience" (save)="onExperienceSaved($event)"
        (close)="showExpForm = false">
      </app-experience-form>


      <!-- Skils-->
      <!-- <div class="card">
        <div class="card-head">
          <h2><span class="ico">📁</span> Skils</h2>
          <button class="icon-btn" (click)="openAddProject()">+ Add</button>
        </div>
        <div class="item" *ngFor="let proj of candidate?.projects">
          <div class="item-icon">📁</div>
          <div class="item-body">
            <div class="item-title">{{ proj.projectTitle }}</div>
            <div class="item-desc" *ngIf="proj.discription">{{ proj.discription }}</div>
            <a class="item-link" *ngIf="proj.casestudyurl" [href]="proj.casestudyurl">View case study →</a>
          </div>
          <div class="item-controls">
            <button class="ctrl-btn" (click)="openEditProject(proj)">✏️</button>
             <button class="ctrl-btn danger" (click)="removeItem(projects, proj, 'Project')">🗑️</button> 
            <button class="ctrl-btn danger" (click)="removeProject(proj.projectId||0)">🗑️</button>
          </div>
        </div>
      </div> -->

      <!-- Skills -->
      <div class="card">
        <div class="card-head">
          <h2><span class="ico">🛠️</span> Skills</h2>
        </div>

        <!-- Add skill input row -->
        <div class="skill-input-row">
          <input type="text" class="skill-input" placeholder="Type a skill and press Enter" [(ngModel)]="skillInput"
            name="skillInput" (keyup.enter)="addSkill()">
          <button class="btn-outline sm" (click)="addSkill()" [disabled]="!skillInput.trim() || isAddingSkill">
            {{ isAddingSkill ? 'Adding...' : '+ Add' }}
        </button> 
        </div>

        <!-- Skill chips -->
        <div class="tags">
          <span class="tag" [class.gray]="skill.variant === 'gray'" *ngFor="let skill of skills">
            {{ skill.label }}
            <span class="x" (click)="removeSkill(skill)">✕</span>
          </span>

          <span class="empty-hint" *ngIf="!skills.length">No skills added yet.</span>
        </div>
      </div>


      <!-- Education -->
      <div class="card">
        <div class="card-head">
          <h2><span class="ico">🎓</span> Education</h2>
          <button class="icon-btn" (click)="openAddEducation()">+ Add</button>
        </div>
        <div class="item" *ngFor="let edu of (candidate?.educations ?? []).slice().reverse()">
          <div class="item-icon">🎓</div>
          <div class="item-body">
            <div class="item-title">{{ edu.degree }}</div>
            <div class="item-sub">{{ edu.college }}</div>
          </div>
          <div class="item-controls">
            <button class="ctrl-btn" (click)="openEditEducation(edu)">✏️</button>
            <!-- <button class="ctrl-btn danger" (click)="removeItem(education, edu, 'Education')">🗑️</button> -->
            <button class="ctrl-btn danger" (click)="removeEducation(edu.educationId||0)">🗑️</button>
          </div>
        </div>
      </div>

      <!-- Education Add/Edit modal -->
      <app-education-form [visible]="showEduForm" [editData]="selectedEducation" (save)="onEducationSaved($event)"
        (close)="showEduForm = false">
      </app-education-form>


      <!-- Projects -->
      <!-- <div class="card">
        <div class="card-head">
          <h2><span class="ico">📁</span> Projects</h2>
          <button class="icon-btn" (click)="addItem('project')">+ Add</button>
        </div>
        <div class="item" *ngFor="let proj of projects">
          <div class="item-icon">{{ proj.icon }}</div>
          <div class="item-body">
            <div class="item-title">{{ proj.title }}</div>
            <div class="item-desc" *ngIf="proj.description">{{ proj.description }}</div>
            <a class="item-link" *ngIf="proj.link" [href]="proj.link">View case study →</a>
          </div>
          <div class="item-controls">
            <button class="ctrl-btn" (click)="editItem('project')">✏️</button>
            <button class="ctrl-btn danger" (click)="removeItem(projects, proj, 'Project')">🗑️</button>
          </div>
        </div>
      </div> -->

      <div class="card">
        <div class="card-head">
          <h2><span class="ico">📁</span> Projects</h2>
          <button class="icon-btn" (click)="openAddProject()">+ Add</button>
        </div>
        <div class="item" *ngFor="let proj of (candidate?.projects ?? []).slice().reverse()s">
          <div class="item-icon">📁</div>
          <div class="item-body">
            <div class="item-title">{{ proj.projectTitle }}</div>
            <div class="item-desc" *ngIf="proj.discription">{{ proj.discription }}</div>
            <a class="item-link" *ngIf="proj.casestudyurl" [href]="proj.casestudyurl">View case study →</a>
          </div>
          <div class="item-controls">
            <button class="ctrl-btn" (click)="openEditProject(proj)">✏️</button>
            <!-- <button class="ctrl-btn danger" (click)="removeItem(projects, proj, 'Project')">🗑️</button> -->
            <button class="ctrl-btn danger" (click)="removeProject(proj.projectId||0)">🗑️</button>
          </div>
        </div>
      </div>

      <!-- Project Add/Edit modal -->
      <app-project-form [visible]="showProjectForm" [editData]="selectedProject" (save)="onProjectSaved($event)"
        (close)="showProjectForm = false">
      </app-project-form>

      <!-- Certifications
      <div class="card">
        <div class="card-head">
          <h2><span class="ico">🏅</span> Certifications</h2>
          <button class="icon-btn" (click)="addItem('certification')">+ Add</button>
        </div>
        <div class="item" *ngFor="let cert of certifications">
          <div class="item-icon">{{ cert.icon }}</div>
          <div class="item-body">
            <div class="item-title">{{ cert.title }}</div>
            <div class="item-sub">{{ cert.subtitle }}</div>
          </div>
          <div class="item-controls">
            <button class="ctrl-btn" (click)="editItem('certification')">✏️</button>
            <button class="ctrl-btn danger" (click)="removeItem(certifications, cert, 'Certification')">🗑️</button>
          </div>
        </div>
      </div>
    </div> -->

      <div class="card">
        <div class="card-head">
          <h2><span class="ico">🏅</span> Certifications</h2>
          <button class="icon-btn" (click)="openAddCertification()">+ Add</button>
        </div>
        <div class="item" *ngFor="let cert of (candidate?.certifications ?? []).slice().reverse()">
          <div class="item-icon">🏅</div>
          <div class="item-body">
            <div class="item-title">{{ cert.certificateName }}</div>
            <div class="item-sub">{{ cert.issueingOrganization }}</div>
          </div>
          <div class="item-controls">
            <button class="ctrl-btn" (click)="openEditCertification(cert)">✏️</button>
            <!-- <button class="ctrl-btn danger" (click)="removeItem(certifications, cert, 'Certification')">🗑️</button> -->
            <button class="ctrl-btn danger" (click)="removeCertification(cert.certificationId||0)">🗑️</button>
          </div>
        </div>
      </div>

      <!-- Certification Add/Edit modal -->
      <app-certification-form [visible]="showCertForm" [editData]="selectedCertification"
        (save)="onCertificationSaved($event)" (close)="showCertForm = false">
      </app-certification-form>
    </div>

    <!-- SIDE COLUMN -->
    <div>
      <!-- Contact -->
      <div class="card">
        <div class="card-head">
          <h2><span class="ico">📄</span> Contact</h2>
        </div>
        
        <div class="resume-row">
          <div class="resume-file">
            <!-- <div class="resume-icon">📄</div> -->
            <div>
              <span>Contact: {{cand.mobNo}}</span>
              <!-- <span>Email</span> -->
              <!-- <div class="resume-name">{{ resumeFileName }}</div> -->
              <!-- <div class="resume-name">{{ candidate?.firstName + ' ' + candidate?.lastName}} Resume</div>
              <div class="resume-updated">{{ resumeUpdatedLabel }}</div> -->
            </div>
          </div>
        </div>
        <!-- <input type="file" #resumeInput hidden accept=".pdf" (change)="updateResume()">
        <button class="btn-primary full-width" (click)="resumeInput.click()"> Update Resume</button> -->

      </div>

      <!-- Resume -->
      <div class="card">
        <div class="card-head">
          <h2><span class="ico">📄</span> Resume</h2>
        </div>
        <div class="resume-row">
          <div class="resume-file">
            <div class="resume-icon">📄</div>
            <div>
              <!-- <div class="resume-name">{{ resumeFileName }}</div> -->
              <div class="resume-name">{{ candidate?.firstName + ' ' + candidate?.lastName}} Resume</div>
              <div class="resume-updated">{{ resumeUpdatedLabel }}</div>
            </div>
          </div>
        </div>
        <!-- <input type="file" #resumeInput hidden accept=".pdf" (change)="updateResume()">
        <button class="btn-primary full-width" (click)="resumeInput.click()"> Update Resume</button> -->
        <input type="file" #resumeInput hidden accept=".pdf,.doc,.docx" (change)="onResumeChange($event)">

        <button type="button" class="btn-primary full-width" (click)="resumeInput.click()">
          Update Resume
        </button>


      </div>

      <!-- Skills -->
      <div class="card">
        <div class="card-head">
          <h2><span class="ico">🛠️</span> Skills</h2>
        </div>
        <div class="tags">
          <span class="tag" [class.gray]="skill.variant === 'gray'" *ngFor="let skill of skills">
            {{ skill.label }}
            <span class="x" (click)="removeSkill(skill)">✕</span>
          </span>
          <span class="tag add-tag" (click)="addSkill()">+ Add</span>
        </div>
      </div>

      <!-- Languages -->
      <div class="card">
        <div class="card-head">
          <h2><span class="ico">🌐</span> Languages</h2>
          <button class="icon-btn" (click)="openAddLanguage()">+ Add</button>
        </div>
        <div class="lang-list">
          <div class="lang-item" *ngFor="let lang of  candidate?.languages">
            <b>{{ lang.language }}</b>
            <span class="lang-level">{{ lang.proficiency| enumFormat}}</span>
            <div class="item-controls">
              <button class="ctrl-btn" (click)="openEditLanguage(lang)">✏️</button>
              <button class="ctrl-btn danger" (click)="removeLanguage(lang)">🗑️</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Language Add/Edit modal -->
      <app-language-form [visible]="showLangForm" [editData]="selectedLanguage" (save)="onLanguageSavedBackend($event)"
        (close)="showLangForm = false">
      </app-language-form>
    </div>

  </div>
</div>

<div class="toast" [class.show]="toastMessage">{{ toastMessage }}</div>