
<div class="register-page">

  <!-- Left Side -->
  <div class="register-banner">
    <div class="overlay">
      <h1>HireFlow</h1>

      <!-- <h2>Start Your Career Journey</h2> -->
      <h2>Hire Peoples to grow your organization</h2>

      <p>
        Create your account and explore thousands of Job Seakers across India.
      </p>

      <div class="stats">
        <div>
          <h3>48,000+</h3>
          <span>Active Jobs</span>
        </div>

        <div>
          <h3>12,000+</h3>
          <span>Companies Hiring</span>
        </div>

        <div>
          <h3>95,000+</h3>
          <span>Candidates Placed</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Side -->
  <div class="register-section">
    <div class="auth-card">

      <h2>Register Organization</h2>

      <p class="subtitle">
        Register and get great talante to achive vision of your organization.
      </p>

      <form (ngSubmit)="register()" #registerForm="ngForm">

        <div class="name-row">

          <div class="form-group">
            <label>Organization Name</label>
            <input
              type="text"
              placeholder="Enter organization name"
              name="employerName"
              [(ngModel)]="Employer.employerName"
              required>
          </div>

          <!-- <div class="form-group">
            <label>Last Name</label>
            <input
              type="text"
              placeholder="Enter last name"
              name="last_name"
              [(ngModel)]="candidate.last_name"
              required>
          </div> -->

        </div>

        <div class="form-group">
          <label>Organization Website</label>
          <input
            type="text"
            placeholder="www.example.com"
            name="Website"
            [(ngModel)]="Employer.website"
            required>
        </div>

        <div class="form-group">
          <label>Email Address</label>
          <input
            type="email"
            placeholder="Enter email"
            name="email"
            [(ngModel)]="Employer.email"
            required>
        </div>

        <div class="form-group">
          <label>Mobile Number</label>
          <input
            type="number"
            placeholder="Enter mobile number"
            name="mobNo"
            [(ngModel)]="Employer.contact"
            required>
        </div>

        <!-- <div class="form-group">
          <label>Email Address</label>
          <input
            type="email"
            placeholder="Enter email"
            name="email"
            [(ngModel)]="candidate.email"
            required>
        </div> -->

        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            placeholder="Create password"
            name="password"
            [(ngModel)]="Employer.password"
            required>
        </div>

        <!-- <div class="form-group">
          <label>Confirm Password</label>
          <input
            type="password"
            placeholder="Create password"
            name="password"
            [(ngModel)]="candidate.password"
            required>
        </div> -->

        <button
          class="register-btn"
          type="submit"
          [disabled]="registerForm.invalid">

          Create Account

        </button>

      </form>

      <p class="login-text">
        Already have an account?
        <span (click)="goToLogin()">Login</span>
      </p>

    </div>
  </div>

</div>